# hikari
hikari[speedups]

hikari-tanjun
hikari-tanchi
alluka

# meta
nox
typing_extensions
PyYAML
psutil
python-dotenv

# db
asyncpg
sqlalchemy[asyncio]
sqlalchemy-stubs
sqlmodel

# utils
thefuzz[speedup]
attrs
pydantic

# components
black
isort

pysaucenao
genshin @ git+https://github.com/thesadru/genshin.py@rewrite

# debugging
devtools
